<!DOCTYPE html>
<html>
  <head>
    <title> Unit Converter </title>
    <link href="css/style.css" rel="stylesheet"></link>
  </head>
<body>
  <h1> Unit Converter </h1>
  <br>
  <form method="post"> 
    <label> Ingredient </label>
  <input type="text" name= "ingredient">
    <form>
    <label> Grams </label>
    <input tyoe="text" name= "grams">
      <input type="submit">
    </form>
</body>
  </html>