<!DOCTYPE html>
<html>
  <head>
    <title> Unit Converter </title>
    <link href="css/style.css" rel="stylesheet"></link>
  </head>
<body>
  <h1> Unit Converter </h1>
  <h3><%=@result%></h3>
</body>
</html>